<div class="container">
  <p>
    <img width="200" src="assets/404.png"> </p>
  <p>
    <strong>We didn't receive a complete request from your browser in time.</strong>
  </p>
  <p>Sorry about that. Please try refreshing and contact us if the problem persists.</p>
  <div id="suggestions">
    <a href="https://junicorn.firebaseapp.com/contact">Contact Support</a> &mdash;
    <a href="https://status.junicorn.com">Juniocorn Status</a> &mdash;
    <a href="https://twitter.com/junicorn">@junicorn</a>
  </div>
  <a href="/" class="logo logo-img-1x">
    <img width="32" height="32" title="" alt="" src="assets/junicorn.png" /> </a>
  <a href="/" class="logo logo-img-2x">
    <img width="32" height="32" title="" alt="" src="assets/junicorn.png" /> </a>
</div>